
<div class="render">
    <div class="pizza-box">
        <h2 class=" section-heading">Your favorites pizza:</h2>
        <div class="pizza-render">
            <div class="pizza-img"
                 style="background-image: {{#each pizzaAddons}}url('/img/pizza/{{this}}.png'),{{/each}} url('/img/pizza/chess-body.png')"
            ></div>
        </div>
    </div>




</div>