<!DOCTYPE html>
<html lang="pl">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pizza Generator in express | Marcin Bilka</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,700;1,300&display=swap"
          rel="stylesheet">

    <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/main.css">
</head>

<body>

<header>
    <div class="pizza-bg">
        <div class="pizza-shadow"></div>
        <div class="pizza-text">
            <h1>Pizza<span>Generator</span></h1>
        </div>
    </div>

</header>
<main>
    <section class="section">
        <div class="wrapper">
            {{{body}}}




        </div>
    </section>
</main>

<footer>
    <div class="footer">
        <p>&copy; PizzaGenerator 2021 | Bilka Marcin |
Icons made by <a href="https://www.flaticon.com/authors/smashicons" title="Smashicons">Smashicons</a> and <a href="https://www.flaticon.com/authors/justicon" title="justicon">justicon</a>  from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></p>
    </div>
</footer>


</body>

</html>