
{{#if pizzaAddons}}
    <div class="render">
        {{> render-pizza}}
        {{> render-order  btn=true}}
    </div>

{{else}}
    <h2 class=" section-heading">please select addons and click the button</h2>


{{/if}}


<div>
{{> go-home}}
</div>
<script src="/js/card.js"></script>
